{% extends 'UtExamProEvalBundle:Default:base.html.twig' %}
{% block main %}
  <div class="homeConter">
  <div class="title titleSelectExam">
    {% if propedeutico %}
      <h5>Por favor elige la evaluación que deseas realizar</h5>
      {% else %}
        <h5>Por favor selecciona lo que deseas realizar</h5>
    {% endif %}
    <br>
  </div>
  <div class="container">
    <div class="row">
      <div class="contentBtn">
        <button class="button btnEntrada">
          {% if propedeutico %}
            Evaluación de entrada
            {% else %}
              Regístrarse
          {% endif %}
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
        <button class="button btnSalida">
          {% if propedeutico %}
            Evaluación de salida
            {% else %}
              iniciar sesión
          {% endif %}
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </div>
    </div>
  </div>
</div>
  <div class="container loginContainer RegisterUser hide">
		<div class="row">
			<div class="col-md-9 loginInterface">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Escribe los datos que te pide</strong>
					</div>
					<div class="panel-body">
						<form role="form" action="/register" method="POST">
							<fieldset>
								<div class="row">
									<div class="center-block">
                  <a href="{{ path('homepage') }}">
										<img class="profile-img" src="{{ asset('bundles/utexamproeval/images/utLogo.png') }}" alt="">
                  </a>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 boxUser">
                    <div class="col-md-12">
                      <div class="form-group col-md-5">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input class="form-control" id="userName" placeholder="Nombre(s) y apellidos" name="loginname" type="text" autofocus>
                        </div>
                      </div>
                      <div class="form-group col-md-5">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                          <input class="form-control" id="userNameUni" placeholder="Nombre de usuario" name="loginname" type="text" autofocus>
                        </div>
                      </div>
                      <div class="form-group col-md-5">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                          </span>
                          <input class="form-control" id="password" placeholder="Contraseña" name="loginname" type="password" autofocus>
                        </div>
                      </div>
                      <div class="form-group col-md-5">
  											<div class="input-group">
  												<span class="input-group-addon">
  													<i class="glyphicon glyphicon-book"></i>
  												</span>
                          <select class="form-control" id="userCarrera" name="carreraname">
                            <option value="-1">Carrera</option>
  													<option value="Mecatrónica área Automatización">Mecatrónica área Automatización</option>
  													<option value="Mantenimiento área Industrial">Mantenimiento área Industrial</option>
                            <option value="Tecnologías de la Información área Entornos Virtuales y Negocios Digitales">Tecnologías de la Información área Entornos Virtuales y Negocios Digitales</option>
                            <option value="Química área Industrial">Química área Industrial</option>
                            <option value="Desarrollo de Negocios área Mercadotecnia">Desarrollo de Negocios área Mercadotecnia</option>
                            <option value="Lengua Inglesa">Lengua Inglesa</option>
  												</select>
  											</div>
  										</div>
                      <div class="form-group col-md-5">
  											<div class="input-group">
  												<span class="input-group-addon">
  													<i class="glyphicon glyphicon-blackboard"></i>
  												</span>
                          {% if propedeutico %}
                            <select class="form-control" id="txtGrupo" name="txtGrupo">
                              <option value="-1">Grupo</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                            </select>
                            {% else %}
                              <input class="form-control" id="txtGrupo" placeholder="Grupo" name="txtGrupo" type="text" autofocus>
                          {% endif %}
  											</div>
  										</div>
  										<div class="form-group col-md-5">
  											<div class="input-group">
  												<span class="input-group-addon">
  													<i class="glyphicon glyphicon-time"></i>
  												</span>
  												<select class="form-control" id="exampleFormControlSelect1" name="turno">
                            <option value="-1">Turno</option>
                            <option value="Vespertino">Matutino</option>
  													<option value="Nocturno">Nocturno</option>
  												</select>
  											</div>
  										</div>
                    </div>
                    <div class="col-md-12">
                      {% if propedeutico %}
                      <div class="form-group col-md-5">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-apple"></i>
                          </span>
                          <select class="form-control" id="selectMaestro1V" name="Maestro">
                            <option value="-1">Maestro 1 (comprensión lectora)</option>
                            {% for maestro in maestros %}
                          {% if maestro is defined and maestro.materias is defined and maestro.materias is not empty %}
                            {% if maestro.materias.id == 1 and maestro.turno == "Vespertino" %}
                              <option value="{{maestro.id}}">{{maestro.nombre}}</option>
                            {% endif %}
                          {% endif %}
                            {% endfor %}
                          </select>
                          <select class="form-control hide" id="selectMaestro1N" name="Maestro">
                            <option value="-1">Maestro 1 (comprensión lectora)</option>
                            {% for maestro in maestros %}
                          {% if maestro is defined and maestro.materias is defined and maestro.materias is not empty %}
                            {% if maestro.materias.id == 1 and maestro.turno == "Nocturno" %}
                              <option value="{{maestro.id}}">{{maestro.nombre}}</option>
                            {% endif %}
                          {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group col-md-5">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-apple"></i>
                          </span>
                          <select class="form-control" id="selectMaestro2V" name="Maestro">
                            <option value="-1">Maestro 2 (pensamiento matemático)</option>
                            {% for maestro in maestros %}
                          {% if maestro is defined and maestro.materias is defined and maestro.materias is not empty %}
                            {% if maestro.materias.id == 2 and maestro.turno == "Vespertino" %}
                              <option value="{{maestro.id}}">{{maestro.nombre}}</option>
                            {% endif %}
                          {% endif %}
                            {% endfor %}
                          </select>
                          <select class="form-control hide" id="selectMaestro2N" name="Maestro">
                            <option value="-1">Maestro 2 (pensamiento matemático)</option>
                            {% for maestro in maestros %}
                          {% if maestro is defined and maestro.materias is defined and maestro.materias is not empty %}
                            {% if maestro.materias.id == 2 and maestro.turno == "Nocturno" %}
                              <option value="{{maestro.id}}">{{maestro.nombre}}</option>
                            {% endif %}
                          {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group col-md-5">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-apple"></i>
                          </span>
                          <select class="form-control" id="selectMaestro3V" name="Maestro">
                            <option value="-1">Maestro 3 (Inglés)</option>
                            {% for maestro in maestros %}
                          {% if maestro is defined and maestro.materias is defined and maestro.materias is not empty %}
                            {% if maestro.materias.id == 3 and maestro.turno == "Vespertino" %}
                              <option value="{{maestro.id}}">{{maestro.nombre}}</option>
                            {% endif %}
                          {% endif %}
                            {% endfor %}
                          </select>
                          <select class="form-control hide" id="selectMaestro3N" name="Maestro">
                            <option value="-1">Maestro 3 (Inglés)</option>
                            {% for maestro in maestros %}
                          {% if maestro is defined and maestro.materias is defined and maestro.materias is not empty %}
                            {% if maestro.materias.id == 3 and maestro.turno == "Nocturno" %}
                              <option value="{{maestro.id}}">{{maestro.nombre}}</option>
                            {% endif %}
                          {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                        {% else %}
                          <div class="form-group col-md-5">
                            <div class="input-group">
                              <span class="input-group-addon">
                                <i class="glyphicon glyphicon-apple"></i>
                              </span>
                              <select class="form-control" id="selectMaestroV" name="Maestro">
                                <option value="-1">Maestro</option>
                                {% for maestro in maestros %}
                              {% if maestro is defined and maestro.materias is defined and maestro.materias is not empty %}
                                {% if maestro.turno == "Vespertino" %}
                                  <option value="{{maestro.id}}">{{maestro.nombre}}</option>
                                {% endif %}
                              {% endif %}
                                {% endfor %}
                              </select>
                              <select class="form-control hide" id="selectMaestroN" name="Maestro">
                                <option value="-1">Maestro</option>
                                {% for maestro in maestros %}
                              {% if maestro is defined and maestro.materias is defined and maestro.materias is not empty %}
                                {% if maestro.turno == "Nocturno" %}
                                  <option value="{{maestro.id}}">{{maestro.nombre}}</option>
                                {% endif %}
                              {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                      {% endif %}
                    </div>
                    <div class="form-group col-md-12">
                      <div class="form-group col-md-6">
                        {% if propedeutico %}
                          <center><div class="btn btn-lg btn-primary btn-block registerAlumno" data_propedeutico=false >Regístrate</div></center>
                          {% else %}
                            <center><div class="btn btn-lg btn-primary btn-block registerAlumno" data_propedeutico=false >Regístrate</div></center>
                        {% endif %}

                      </div>
                    </div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
        </div>
		  </div>
	  </div>
  </div>
  <div class="container loginContainer loginUser hide">
    <div class="row">
      <div class="col-md-9 loginInterface">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Escribe los datos que te pide</strong>
          </div>
          <div class="panel-body">
            <form role="form" action="/register" method="POST">
              <fieldset>
                <div class="row">
                  <div class="center-block">
                  <a href="{{ path('homepage') }}">
										<img class="profile-img" src="{{ asset('bundles/utexamproeval/images/utLogo.png') }}" alt="">
                  </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 boxUser">
                    <div class="form-group col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input class="form-control" id="userNameUniLogin" placeholder="Nombre de usuario" name="loginname" type="text" autofocus>
                      </div>
                    </div>
                    <div class="form-group col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" id="passwordLogin" placeholder="Contraseña" name="loginname" type="password" autofocus>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <div class="form-group col-md-5">
                       <center><div class="btn btn-lg btn-primary btn-block loginAlumno">Iniciar sesión</div></center>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
