{% block table %}
{% set CalifiE = 0 %}
{% set CalifiGE = 0 %}
{% set ProPreMatE = {} %}
{% set CalifiS = 0 %}
{% set CalifiGS = 0 %}
{% set ProPreMatS = {} %}
{% set Porcentaje = 0 %}
{% set Maestro = "" %}
<div class="span7">
  <div class="widget stacked widget-table action-table">
    {% if generacion is defined %}
      <div class="widget-header">
      	<i class="fa fa-list"></i>
      	<h3>Reporte Generacional</h3>
      </div>
      <div class="widget-content table-responsive">
        <table class="table table-striped table-bordered table-condensed table-hover">
          <thead>
            <tr>
              <th>Turno</th>
              <th>Grupo</th>
              <th colspan="{{materias|length + 1}}">Calificacion de Entrada</th>
              <th colspan="{{materias|length + 1}}">Calificacion de Salida</th>
              <th colspan="{{materias|length}}">Maestro a cargo</th>
              <th>Porcentaje de mejora</th>
              <th colspan="{{materias|length}}">Porcentaje de mejora por materia</th>
            </tr>
            <tr>
              <th>||</th>
              <th>||</th>
              {% for materia in materias %}
                <th>{{materia.nombre}}</th>
              {% endfor %}
              <th>Promedio</th>
              {% for materia in materias %}
                <th>{{materia.nombre}}</th>
              {% endfor %}
              <th>Promedio</th>
              {% for materia in materias %}
                <th>{{materia.nombre}}</th>
              {% endfor %}
              <th>%</th>
              {% for materia in materias %}
                <th>{{materia.nombre}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="{{AGV|length + 1}}">Matutino</td>
            </tr>
            {% for grupo in AGV %}
              <tr>
                <td>{{grupo.grupo}}</td>
                {% for materia in materias %}
                  {% for alumno in grupo.alumnos %}
                    {% for Alumnocali in alumno.calificaciones %}
                      {% if Alumnocali.evaluacion == "Entrada" %}
                        {% for ACMater in Alumnocali.caliMateria %}
                          {% if materia.id == ACMater.materias.id %}
                            {% set CalifiE = CalifiE + ACMater.calificacion|number_format %}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  {% set CalifiE = (CalifiE / grupo.alumnos|length)|round %}
                  {% set ProPreMatE = ProPreMatE|merge([{
                    "materia": materia.id,
                    "calificacion" : CalifiE
                  }]) %}
                  <td>{{CalifiE}}</td>
                  {% set CalifiGE = CalifiGE + CalifiE %}
                  {% set CalifiE = 0 %}
                {% endfor %}
                {% set CalifiGE = (CalifiGE / materias|length)|round %}
                <td>{{CalifiGE}}</td>
                {% for materia in materias %}
                  {% for alumno in grupo.alumnos %}
                    {% for Alumnocali in alumno.calificaciones %}
                      {% if Alumnocali.evaluacion == "Salida" %}
                        {% for ACMater in Alumnocali.caliMateria %}
                          {% if materia.id == ACMater.materias.id %}
                            {% set CalifiS = CalifiS + ACMater.calificacion|number_format %}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  {% set CalifiS = (CalifiS / grupo.alumnos|length)|round %}
                  {% set ProPreMatS = ProPreMatS|merge([{
                    "materia": materia.id,
                    "calificacion" : CalifiS
                  }]) %}
                  <td>{{CalifiS}}</td>
                  {% set CalifiGS = CalifiGS + CalifiS %}
                  {% set CalifiS = 0 %}
                {% endfor %}
                {% set CalifiGS = (CalifiGS / materias|length)|round %}
                <td>{{CalifiGS}}</td>
                {% for materia in materias %}
                  {% for alumno in grupo.alumnos %}
                    {% for maestroFromAlumno in alumno.maestros %}
                      {% if maestroFromAlumno.materias.id == materia.id %}
                        {% set Maestro = maestroFromAlumno.nombre %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  <td>{{Maestro}}</td>
                  {% set Maestro = "" %}
                {% endfor %}
                {# porsentajes de mejora #}
                {% set Porcentaje = CalifiGS - CalifiGE %}
                {% if Porcentaje >= 0 %}
                  {% if Porcentaje == 0 %}
                    <td>
                      {{Porcentaje}}%
                    </td>
                  {% else %}
                    <td class="text-success">
                  {% if CalifiGE == 0 %}
                    {{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                  {% else %}
                    {{ ((Porcentaje / CalifiGE) * 100)|slice(0, 5) }}%
                  {% endif %}
                    </td>
                  {% endif %}
                {% else %}
                  <td class="text-danger" >
                  {% set Porcentaje = CalifiGE - CalifiGS %}
                  {% if CalifiGE == 0 %}
                    -{{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                  {% else %}
                    -{{ ((Porcentaje / CalifiGE) * 100)|slice(0, 5) }}%
                  {% endif %}
                  </td>
                {% endif %}
                {% set Porcentaje = 0 %}
                {# fin del porcentaje de mejora #}
                {% set CalifiGE = 0 %}
                {% set CalifiGS = 0 %}
                {% for materia in materias %}
                {% set tempoCalificacionE = 0 %}
                {% set tempoCalificacionS = 0 %}
                  {% for proMatE in ProPreMatE %}
                    {% if proMatE.materia == materia.id %}
                      {% set tempoCalificacionE = proMatE.calificacion %}
                    {% endif %}
                  {% endfor %}
                  {% for proMatS in ProPreMatS %}
                    {% if proMatS.materia == materia.id %}
                      {% set tempoCalificacionS = proMatS.calificacion %}
                    {% endif %}
                  {% endfor %}
                  {# porsentajes de mejora por materia #}
                  {% set Porcentaje = tempoCalificacionS - tempoCalificacionE %}
                  {% if Porcentaje >= 0 %}
                    {% if Porcentaje == 0 %}
                      <td>
                        {{Porcentaje}}%
                      </td>
                    {% else %}
                      <td class="text-success">
                    {% if CalifiGE == 0 %}
                      {{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                    {% else %}
                      {{ ((Porcentaje / tempoCalificacionE) * 100)|slice(0, 5) }}%
                    {% endif %}
                      </td>
                    {% endif %}
                  {% else %}
                    <td class="text-danger" >
                    {% set Porcentaje = tempoCalificacionE - tempoCalificacionS %}
                    {% if tempoCalificacionE == 0 %}
                      -{{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                    {% else %}
                      -{{ ((Porcentaje / tempoCalificacionE) * 100)|slice(0, 5) }}%
                    {% endif %}
                    </td>
                  {% endif %}
                  {% set Porcentaje = 0 %}
                  {# fin del porcentaje de mejora por materia #}
                {% endfor %}
                {% set ProPreMatE = [] %}
                {% set ProPreMatS = [] %}
              </tr>
            {% endfor %}
            <tr>
              <td rowspan="{{AGN|length + 1}}">Nocturno</td>
            </tr>
            {% for grupo in AGN %}
              <tr>
                <td>{{grupo.grupo}}</td>
                {% for materia in materias %}
                  {% for alumno in grupo.alumnos %}
                    {% for Alumnocali in alumno.calificaciones %}
                      {% if Alumnocali.evaluacion == "Entrada" %}
                        {% for ACMater in Alumnocali.caliMateria %}
                          {% if materia.id == ACMater.materias.id %}
                            {% set CalifiE = CalifiE + ACMater.calificacion|number_format %}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  {% set CalifiE = (CalifiE / grupo.alumnos|length)|round %}
                  {% set ProPreMatE = ProPreMatE|merge([{
                    "materia": materia.id,
                    "calificacion" : CalifiE
                  }]) %}
                  <td>{{CalifiE}}</td>
                  {% set CalifiGE = CalifiGE + CalifiE %}
                  {% set CalifiE = 0 %}
                {% endfor %}
                {% set CalifiGE = (CalifiGE / materias|length)|round %}
                <td>{{CalifiGE}}</td>
                {% for materia in materias %}
                  {% for alumno in grupo.alumnos %}
                    {% for Alumnocali in alumno.calificaciones %}
                      {% if Alumnocali.evaluacion == "Salida" %}
                        {% for ACMater in Alumnocali.caliMateria %}
                          {% if materia.id == ACMater.materias.id %}
                            {% set CalifiS = CalifiS + ACMater.calificacion|number_format %}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  {% set CalifiS = (CalifiS / grupo.alumnos|length)|round %}
                  {% set ProPreMatS = ProPreMatS|merge([{
                    "materia": materia.id,
                    "calificacion" : CalifiS
                  }]) %}
                  <td>{{CalifiS}}</td>
                  {% set CalifiGS = CalifiGS + CalifiS %}
                  {% set CalifiS = 0 %}
                {% endfor %}
                {% set CalifiGS = (CalifiGS / materias|length)|round %}
                <td>{{CalifiGS}}</td>
                {% for materia in materias %}
                  {% for alumno in grupo.alumnos %}
                    {% for maestroFromAlumno in alumno.maestros %}
                      {% if maestroFromAlumno.materias.id == materia.id %}
                        {% set Maestro = maestroFromAlumno.nombre %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  <td>{{Maestro}}</td>
                  {% set Maestro = "" %}
                {% endfor %}
                {# porsentajes de mejora #}
                {% set Porcentaje = CalifiGS - CalifiGE %}
                {% if Porcentaje >= 0 %}
                  {% if Porcentaje == 0 %}
                    <td>
                      {{Porcentaje}}%
                    </td>
                  {% else %}
                    <td class="text-success">
                  {% if CalifiGE == 0 %}
                    {{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                  {% else %}
                    {{ ((Porcentaje / CalifiGE) * 100)|slice(0, 5) }}%
                  {% endif %}
                    </td>
                  {% endif %}
                {% else %}
                  <td class="text-danger" >
                  {% set Porcentaje = CalifiGE - CalifiGS %}
                  {% if CalifiGE == 0 %}
                    -{{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                  {% else %}
                    -{{ ((Porcentaje / CalifiGE) * 100)|slice(0, 5) }}%
                  {% endif %}
                  </td>
                {% endif %}
                {% set Porcentaje = 0 %}
                {# fin del porcentaje de mejora #}
                {% set CalifiGE = 0 %}
                {% set CalifiGS = 0 %}
                {% for materia in materias %}
                {% set tempoCalificacionE = 0 %}
                {% set tempoCalificacionS = 0 %}
                  {% for proMatE in ProPreMatE %}
                    {% if proMatE.materia == materia.id %}
                      {% set tempoCalificacionE = proMatE.calificacion %}
                    {% endif %}
                  {% endfor %}
                  {% for proMatS in ProPreMatS %}
                    {% if proMatS.materia == materia.id %}
                      {% set tempoCalificacionS = proMatS.calificacion %}
                    {% endif %}
                  {% endfor %}
                  {# porsentajes de mejora por materia #}
                  {% set Porcentaje = tempoCalificacionS - tempoCalificacionE %}
                  {% if Porcentaje >= 0 %}
                    {% if Porcentaje == 0 %}
                      <td>
                        {{Porcentaje}}%
                      </td>
                    {% else %}
                      <td class="text-success">
                    {% if CalifiGE == 0 %}
                      {{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                    {% else %}
                      {{ ((Porcentaje / tempoCalificacionE) * 100)|slice(0, 5) }}%
                    {% endif %}
                      </td>
                    {% endif %}
                  {% else %}
                    <td class="text-danger" >
                    {% set Porcentaje = tempoCalificacionE - tempoCalificacionS %}
                    {% if tempoCalificacionE == 0 %}
                      -{{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                    {% else %}
                      -{{ ((Porcentaje / tempoCalificacionE) * 100)|slice(0, 5) }}%
                    {% endif %}
                    </td>
                  {% endif %}
                  {% set Porcentaje = 0 %}
                  {# fin del porcentaje de mejora por materia #}
                {% endfor %}
                {% set ProPreMatE = [] %}
                {% set ProPreMatS = [] %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="widget-header">
      	<i class="fa fa-list"></i>
      	<h3>Reporte al Grupo: {{GWA.grupo}}, del Tunro: {{GWA.turno}}, que presento el examen: {{GWA.examen.titulo}}.</h3>
      </div>
    	<div class="widget-content table-responsive">
      <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th>Turno</th>
            <th>Alumno</th>
            <th colspan="{{GWA.materias|length + 1}}">Calificacion de Entrada</th>
            <th colspan="{{GWA.materias|length + 1}}">Calificacion de Salida</th>
            <th colspan="{{GWA.materias|length}}">Maestro a cargo</th>
            <th>Porcentaje de mejora</th>
            <th colspan="{{GWA.materias|length}}">Porcentaje de mejora por materia</th>
          </tr>
          <tr>
            <th>||</th>
            <th>||</th>
            {% for materia in GWA.materias %}
              <th>{{materia.nombre}}</th>
            {% endfor %}
            <th>Promedio</th>
            {% for materia in GWA.materias %}
              <th>{{materia.nombre}}</th>
            {% endfor %}
            <th>Promedio</th>
            {% for materia in GWA.materias %}
              <th>{{materia.nombre}}</th>
            {% endfor %}
            <th>%</th>
            {% for materia in GWA.materias %}
              <th>{{materia.nombre}}</th>
            {% endfor %}
          </tr>
        </thead>
      </table>
    	</div>
    {% endif %}
  </div>
</div>
{% endblock %}
