{% block table %}
{% set CalificacionGE = 0 %}
{% set CalificacionGS = 0 %}
{% set AlumnosPG = 0 %}
{% set GruposPT = 0 %}
{% set Porcentaje = 0 %}
{% set CalificacionGET = 0 %}
{% set CalificacionGST = 0 %}
{% set AlumnosPGT = 0 %}
{% set MaestroCL = "" %}
{% set MaestroPM = "" %}
{% set MaestroIng = "" %}
<div class="span7">
  <div class="widget stacked widget-table action-table">
    {% if generacion is defined %}
      <div class="widget-header">
      	<i class="fa fa-list"></i>
      	<h3>Reporte Generacional</h3>
      </div>
    	<div class="widget-content">
    		<table class="table table-striped table-bordered">
    			<thead>
    				<tr>
              <th>Turno</th>
    					<th>Grupo</th>
              <th colspan="3">Calificacion de Entrada</th>
              <th colspan="3">Calificacion de Salida</th>
    					<th>Maestro a cargo</th>
              <th>Promedio</th>
              <th>Porcentaje de mejora</th>
    				</tr>
            <tr>
              <th></th>
    					<th></th>
              <th>C.L.</th>
              <th>P.M</th>
    					<th>Ing</th>
              <th>Promedio</th>
              <th>C.L.</th>
              <th>P.M</th>
    					<th>Ing</th>
              <th>Promedio</th>
              <th>%</th>
    				</tr>
    			</thead>
    			<tbody>
            <tr>
              <td rowspan="{{gruposV|length + 1}}">Vespertino</td>
            </tr>
            {% for grupo in gruposV %}
              {% for alumno in GV %}
                {% if alumno.turno == "Vespertino" %}
                  {% if alumno.grupo == grupo.grupo %}
                    {% set Maestro = "alumno.maestros.nombre" %}
                    {% set AlumnosPG = AlumnosPG + 1 %}
                    {% set CalificacionGE = CalificacionGE + alumno.calificacion %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              <tr>
                <td>{{grupo.grupo}}</td>
                <td>{{CalificacionGE}}</td>
                {% set CalificacionGE = 0 %}
              </tr>
            {% endfor %}
            <tr>
              <td rowspan="{{gruposN|length + 1}}">Nocturno</td>
            </tr>
            {% for grupo in gruposN %}
              <tr>
                <td>{{grupo.grupo}}</td>
              </tr>
            {% endfor %}
    			</tbody>
    		</table>
    	</div>
    {% else %}
      <h3>Error al cargar las tablas</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
