{% block table %}
{% set CalifiE1 = 0 %}
{% set CalifiE2 = 0 %}
{% set CalifiE3 = 0 %}
{% set CalificacionGE = 0 %}
{% set PromedioE = 0 %}
{% set CalifiS1 = 0 %}
{% set CalifiS2 = 0 %}
{% set CalifiS3 = 0 %}
{% set CalificacionGS = 0 %}
{% set PromedioS = 0 %}
{% set AlumnosPGE1 = 0 %}
{% set AlumnosPGE2 = 0 %}
{% set AlumnosPGE3 = 0 %}
{% set AlumnosPGS1 = 0 %}
{% set AlumnosPGS2 = 0 %}
{% set AlumnosPGS3 = 0 %}
{% set IntMaterias = 1 %}
{% set GruposPT = 0 %}
{% set Porcentaje = 0 %}
{% set CalificacionGET = 0 %}
{% set CalificacionGST = 0 %}
{% set CalifiTempo = 0 %}
{% set Maestro1 = "" %}
{% set Maestro2 = "" %}
{% set Maestro3 = "" %}
<div class="span7">
  <div class="widget stacked widget-table action-table">
    {% if generacion is defined %}
      <div class="widget-header">
      	<i class="fa fa-list"></i>
      	<h3>Reporte Generacional</h3>
      </div>
    	<div class="widget-content">
    		<table class="table table-striped table-bordered">
    			<thead>
            {% if GV[0].calificacionE1 is not empty and GV[0].calificacionE1 is defined and GV[0].calificacionE1 != "0" and GV[0].calificacionE1 != ":=0" %}
              {% set IntMaterias = IntMaterias + 1 %}
            {% endif %}
            {% if GV[0].calificacionE2 is not empty and GV[0].calificacionE2 is defined and GV[0].calificacionE2 != "0" and GV[0].calificacionE2 != ":=0" %}
              {% set IntMaterias = IntMaterias + 1 %}
            {% endif %} 
            {% if GV[0].calificacionE3 is not empty and GV[0].calificacionE3 is defined and GV[0].calificacionE3 != "0" and GV[0].calificacionE3 != ":=0" %}
              {% set IntMaterias = IntMaterias + 1 %}
            {% endif %}
            {% dump(IntMaterias) %}
    				<tr>
              <th>Turno</th>
    					<th>Grupo</th>
              <th colspan="{{IntMaterias}}">Calificacion de Entrada</th>
              <th colspan="{{IntMaterias}}">Calificacion de Salida</th>
    					<th colspan="{{IntMaterias - 1}}">Maestro a cargo</th>
              <th>Porcentaje de mejora</th>
    				</tr>
            <tr>
              <th>||</th>
    					<th>||</th>
              {% if GV[0].calificacionE1 is not empty and GV[0].calificacionE1 is defined and GV[0].calificacionE1 != "0" and GV[0].calificacionE1 != ":=0" %}
                {% set NombreMateria = GV[0].calificacionE1|split(':=') %}
                <th>{{NombreMateria[0]}}</th>
              {% endif %}
              {% if GV[0].calificacionE2 is not empty and GV[0].calificacionE2 is defined and GV[0].calificacionE2 != "0" and GV[0].calificacionE2 != ":=0" %}
                {% set NombreMateria = GV[0].calificacionE2|split(':=') %}
                <th>{{NombreMateria[0]}}</th>
              {% endif %}
              {% if GV[0].calificacionE3 is not empty and GV[0].calificacionE3 is defined and GV[0].calificacionE3 != "0" and GV[0].calificacionE3 != ":=0" %}
                {% set NombreMateria = GV[0].calificacionE3|split(':=') %}
                <th>{{NombreMateria[0]}}</th>
              {% endif %}
              <th>Promedio</th>
              {% if GV[0].calificacionS1 is not empty and GV[0].calificacionS1 is defined and GV[0].calificacionS1 != "0" and GV[0].calificacionS1 != ":=0" %}
                {% set NombreMateria = GV[0].calificacionS1|split(':=') %}
                <th>{{NombreMateria[0]}}</th>
              {% endif %}
              {% if GV[0].calificacionS2 is not empty and GV[0].calificacionS2 is defined and GV[0].calificacionS2 != "0" and GV[0].calificacionS2 != ":=0" %}
                {% set NombreMateria = GV[0].calificacionS2|split(':=') %}
                <th>{{NombreMateria[0]}}</th>
              {% endif %}
              {% if GV[0].calificacionS3 is not empty and GV[0].calificacionS3 is defined and GV[0].calificacionS3 != "0" and GV[0].calificacionS3 != ":=0" %}
                {% set NombreMateria = GV[0].calificacionS3|split(':=') %}
                <th>{{NombreMateria[0]}}</th>
              {% endif %}
              <th>Promedio</th>
              {% if GV[0].calificacionS1 is not empty and GV[0].calificacionS1 is defined and GV[0].calificacionS1 != "0" and GV[0].calificacionS1 != ":=0" %}
                {% set NombreMateria = GV[0].calificacionS1|split(':=') %}
                <th>{{NombreMateria[0]}}</th>
              {% endif %}
              {% if GV[0].calificacionS2 is not empty and GV[0].calificacionS2 is defined and GV[0].calificacionS2 != "0" and GV[0].calificacionS2 != ":=0" %}
                {% set NombreMateria = GV[0].calificacionS2|split(':=') %}
                <th>{{NombreMateria[0]}}</th>
              {% endif %}
              {% if GV[0].calificacionS3 is not empty and GV[0].calificacionS3 is defined and GV[0].calificacionS3 != "0" and GV[0].calificacionS3 != ":=0" %}
                {% set NombreMateria = GV[0].calificacionS3|split(':=') %}
                <th>{{NombreMateria[0]}}</th>
              {% endif %}
              <th>%</th>
    				</tr>
    			</thead>
    			<tbody>
            <tr>
              <td rowspan="{{gruposV|length + 1}}">Vespertino</td>
            </tr>
            {% for grupo in gruposV %}
              {% for alumno in GV %}
                {% if alumno.turno == "Vespertino" %}
                  {% if alumno.grupo == grupo.grupo %}
                    {% if alumno.calificacionE1 is not empty and alumno.calificacionE1 is defined and alumno.calificacionE1 != "0" and alumno.calificacionE1 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionE1|split(':=') %}
                      {% set CalifiE1 = CalifiE1 + CalifiTempo[1] %}
                      {% if alumno.maestros[0] is defined and alumno.maestros[0] is not empty %}
                        {% set Maestro1 = alumno.maestros[0].nombre %}
                      {% endif %}
                      {% set AlumnosPGE1 = AlumnosPGE1 + 1 %}
                    {% endif %}
                    {% if alumno.calificacionE2 is not empty and alumno.calificacionE2 is defined and alumno.calificacionE2 != "0" and alumno.calificacionE2 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionE2|split(':=') %}
                      {% set CalifiE2 = CalifiE2 + CalifiTempo[1] %}
                      {% if alumno.maestros[1] is defined and alumno.maestros[1] is not empty%}
                        {% set Maestro2 = alumno.maestros[1].nombre %}
                      {% endif %}
                      {% set AlumnosPGE2 = AlumnosPGE2 + 1 %}
                    {% endif %}
                    {% if alumno.calificacionE3 is not empty and alumno.calificacionE3 is defined and alumno.calificacionE3 != "0" and alumno.calificacionE3 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionE3|split(':=') %}
                      {% set CalifiE3 = CalifiE3 + CalifiTempo[1] %}
                      {% if alumno.maestros[2] is defined and alumno.maestros[2] is not empty %}
                        {% set Maestro3 = alumno.maestros[2].nombre %}
                      {% endif %}
                      {% set AlumnosPGE3 = AlumnosPGE3 + 1 %}
                    {% endif %}
                    {% if alumno.calificacionS1 is not empty and alumno.calificacionS1 is defined and alumno.calificacionS1 != "0" and alumno.calificacionS1 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionS1|split(':=') %}
                      {% set CalifiS1 = CalifiS1 + CalifiTempo[1] %}
                      {% set AlumnosPGS1 = AlumnosPGS1 + 1 %}
                    {% endif %}
                    {% if alumno.calificacionS2 is not empty and alumno.calificacionS2 is defined and alumno.calificacionS2 != "0" and alumno.calificacionS2 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionS2|split(':=') %}
                      {% set CalifiS2 = CalifiS2 + CalifiTempo[1] %}
                      {% set AlumnosPGS2 = AlumnosPGS2 + 1 %}
                    {% endif %}
                    {% if alumno.calificacionS3 is not empty and alumno.calificacionS3 is defined and alumno.calificacionS3 != "0" and alumno.calificacionS3 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionS3|split(':=') %}
                      {% set CalifiS3 = CalifiS3 + CalifiTempo[1] %}
                      {% set AlumnosPGS3 = AlumnosPGS3 + 1 %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              <tr>
                <td>{{grupo.grupo}}</td>
                {% if CalifiE1 != 0 %}
                {% set CalifiE1 = CalifiE1 / AlumnosPGE1 %}
                  <td>{{CalifiE1|slice(0, 5)}}</td>
                {% endif %}
                {% if CalifiE2 != 0 %}
                {% set CalifiE2 = CalifiE2 / AlumnosPGE2 %}
                  <td>{{CalifiE2|slice(0, 5)}}</td>
                {% endif %}
                {% if CalifiE3 != 0 %}
                {% set CalifiE3 = CalifiE3 / AlumnosPGE3 %}
                  <td>{{CalifiE3|slice(0, 5)}}</td>
                {% endif %}
                {% set PromedioE = (CalifiE1 + CalifiE2 + CalifiE3) / (IntMaterias - 1) %}
                <td>{{PromedioE|slice(0, 5)}}</td>

                {% set CalifiE1 = 0 %}
                {% set CalifiE2 = 0 %}
                {% set CalifiE3 = 0 %}

                {% if CalifiS1 != 0 %}
                {% set CalifiS1 = CalifiS1 / AlumnosPGS1 %}
                  <td>{{CalifiS1|slice(0, 5)}}</td>
                {% endif %}
                {% if CalifiS2 != 0 %}
                {% set CalifiS2 = CalifiS2 / AlumnosPGS2 %}
                  <td>{{CalifiS2|slice(0, 5)}}</td>
                {% endif %}
                {% if CalifiS3 != 0 %}
                {% set CalifiS3 = CalifiS3 / AlumnosPGS3 %}
                  <td>{{CalifiS3|slice(0, 5)}}</td>
                {% endif %}
                {% set PromedioS = (CalifiS1 + CalifiS2 + CalifiS3) / (IntMaterias - 1) %}
                <td>{{PromedioS|slice(0, 5)}}</td>
                {% if Maestro1 is not empty %}
                  <td>{{Maestro1}}</td>
                {% endif %}
                {% if Maestro2 is not empty %}
                  <td>{{Maestro2}}</td>
                {% endif %}
                {% if Maestro3 is not empty %}
                  <td>{{Maestro3}}</td>
                {% endif %}
                {% set Porcentaje = PromedioS - PromedioE %}
                {% if Porcentaje >= 0 %}
                  {% if Porcentaje == 0 %}
                    <td>
                      {{Porcentaje}}
                    </td>
                  {% else %}
                    <td class="text-success">
                  {% if PromedioE == 0 %}
                    {{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                  {% else %}
                    {{ ((Porcentaje / PromedioE) * 100)|slice(0, 5) }}%
                  {% endif %}
                    </td>
                  {% endif %}
                {% else %}
                  <td class="text-danger" >
                  {% set Porcentaje = PromedioE - PromedioS %}
                  {% if PromedioE == 0 %}
                    -{{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                  {% else %}
                    -{{ ((Porcentaje / PromedioE) * 100)|slice(0, 5) }}%
                  {% endif %}
                  </td>
                {% endif %}
                {% set CalifiS1 = 0 %}
                {% set CalifiS2 = 0 %}
                {% set CalifiS3 = 0 %}
              </tr>
            {% endfor %}
			{% set AlumnosPGE1 = 0 %}
			{% set AlumnosPGE2 = 0 %}
			{% set AlumnosPGE3 = 0 %}
			{% set AlumnosPGS1 = 0 %}
			{% set AlumnosPGS2 = 0 %}
			{% set AlumnosPGS3 = 0 %}
            {% set CalifiE1 = 0 %}
            {% set CalifiE2 = 0 %}
            {% set CalifiE3 = 0 %}
            {% set CalifiS1 = 0 %}
            {% set CalifiS2 = 0 %}
            {% set CalifiS3 = 0 %}
            {% set PromedioE = 0 %}
            {% set PromedioS = 0 %}
            <tr>
              <td rowspan="{{gruposN|length + 1}}">Nocturno</td>
            </tr>
            {% for grupo in gruposN %}
              {% for alumno in GN %}
                {% if alumno.turno == "Nocturno" %}
                  {% if alumno.grupo == grupo.grupo %}
                    {% if alumno.calificacionE1 is not empty and alumno.calificacionE1 is defined and alumno.calificacionE1 != "0" and alumno.calificacionE1 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionE1|split(':=') %}
                      {% set CalifiE1 = CalifiE1 + CalifiTempo[1] %}
                      {% if alumno.maestros[0] is defined and alumno.maestros[0] is not empty %}
                        {% set Maestro1 = alumno.maestros[0].nombre %}
                      {% endif %}
                      {% set AlumnosPGE1 = AlumnosPGE1 + 1 %}
                    {% endif %}
                    {% if alumno.calificacionE2 is not empty and alumno.calificacionE2 is defined and alumno.calificacionE2 != "0" and alumno.calificacionE2 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionE2|split(':=') %}
                      {% set CalifiE2 = CalifiE2 + CalifiTempo[1] %}
                      {% if alumno.maestros[1] is defined and alumno.maestros[1] is not empty%}
                        {% set Maestro2 = alumno.maestros[1].nombre %}
                      {% endif %}
                      {% set AlumnosPGE2 = AlumnosPGE2 + 1 %}
                    {% endif %}
                    {% if alumno.calificacionE3 is not empty and alumno.calificacionE3 is defined and alumno.calificacionE3 != "0" and alumno.calificacionE3 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionE3|split(':=') %}
                      {% set CalifiE3 = CalifiE3 + CalifiTempo[1] %}
                      {% if alumno.maestros[2] is defined and alumno.maestros[2] is not empty %}
                        {% set Maestro3 = alumno.maestros[2].nombre %}
                      {% endif %}
                      {% set AlumnosPGE3 = AlumnosPGE3 + 1 %}
                    {% endif %}
                    {% if alumno.calificacionS1 is not empty and alumno.calificacionS1 is defined and alumno.calificacionS1 != "0" and alumno.calificacionS1 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionS1|split(':=') %}
                      {% set CalifiS1 = CalifiS1 + CalifiTempo[1] %}
                      {% set AlumnosPGS1 = AlumnosPGS1 + 1 %}
                    {% endif %}
                    {% if alumno.calificacionS2 is not empty and alumno.calificacionS2 is defined and alumno.calificacionS2 != "0" and alumno.calificacionS2 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionS2|split(':=') %}
                      {% set CalifiS2 = CalifiS2 + CalifiTempo[1] %}
                      {% set AlumnosPGS2 = AlumnosPGS2 + 1 %}
                    {% endif %}
                    {% if alumno.calificacionS3 is not empty and alumno.calificacionS3 is defined and alumno.calificacionS3 != "0" and alumno.calificacionS3 != ":=0" %}
                      {% set CalifiTempo = alumno.calificacionS3|split(':=') %}
                      {% set CalifiS3 = CalifiS3 + CalifiTempo[1] %}
                      {% set AlumnosPGS3 = AlumnosPGS3 + 1 %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              <tr>
                <td>{{grupo.grupo}}</td>
                {% if CalifiE1 != 0 %}
                {% set CalifiE1 = CalifiE1 / AlumnosPGE1 %}
                  <td>{{CalifiE1|slice(0, 5)}}</td>
                {% endif %}
                {% if CalifiE2 != 0 %}
                {% set CalifiE2 = CalifiE2 / AlumnosPGE2 %}
                  <td>{{CalifiE2|slice(0, 5)}}</td>
                {% endif %}
                {% if CalifiE3 != 0 %}
                {% set CalifiE3 = CalifiE3 / AlumnosPGE3 %}
                  <td>{{CalifiE3|slice(0, 5)}}</td>
                {% endif %}
                {% set PromedioE = (CalifiE1 + CalifiE2 + CalifiE3) / (IntMaterias - 1) %}
                <td>{{PromedioE|slice(0, 5)}}</td>

                {% set CalifiE1 = 0 %}
                {% set CalifiE2 = 0 %}
                {% set CalifiE3 = 0 %}

                {% if CalifiS1 != 0 %}
                {% set CalifiS1 = CalifiS1 / AlumnosPGS1 %}
                  <td>{{CalifiS1|slice(0, 5)}}</td>
                {% endif %}
                {% if CalifiS2 != 0 %}
                {% set CalifiS2 = CalifiS2 / AlumnosPGS2 %}
                  <td>{{CalifiS2|slice(0, 5)}}</td>
                {% endif %}
                {% if CalifiS3 != 0 %}
                {% set CalifiS3 = CalifiS3 / AlumnosPGS3 %}
                  <td>{{CalifiS3|slice(0, 5)}}</td>
                {% endif %}
                {% set PromedioS = (CalifiS1 + CalifiS2 + CalifiS3) / (IntMaterias - 1) %}
                <td>{{PromedioS|slice(0, 5)}}</td>
                {% if Maestro1 is not empty %}
                  <td>{{Maestro1}}</td>
                {% endif %}
                {% if Maestro2 is not empty %}
                  <td>{{Maestro2}}</td>
                {% endif %}
                {% if Maestro3 is not empty %}
                  <td>{{Maestro3}}</td>
                {% endif %}
                {% set Porcentaje = PromedioS - PromedioE %}
                {% if Porcentaje >= 0 %}
                  {% if Porcentaje == 0 %}
                    <td>
                      {{Porcentaje}}
                    </td>
                  {% else %}
                    <td class="text-success">
                  {% if PromedioE == 0 %}
                    {{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                  {% else %}
                    {{ ((Porcentaje / PromedioE) * 100)|slice(0, 5) }}%
                  {% endif %}
                    </td>
                  {% endif %}
                {% else %}
                  <td class="text-danger" >
                  {% set Porcentaje = PromedioE - PromedioS %}
                  {% if PromedioE == 0 %}
                    -{{ ((Porcentaje / 1) * 100)|slice(0, 5) }}%
                  {% else %}
                    -{{ ((Porcentaje / PromedioE) * 100)|slice(0, 5) }}%
                  {% endif %}
                  </td>
                {% endif %}
                {% set CalifiS1 = 0 %}
                {% set CalifiS2 = 0 %}
                {% set CalifiS3 = 0 %}
              </tr>
            {% endfor %}
            {% set CalifiE1 = 0 %}
            {% set CalifiE2 = 0 %}
            {% set CalifiE3 = 0 %}
            {% set CalifiS1 = 0 %}
            {% set CalifiS2 = 0 %}
            {% set CalifiS3 = 0 %}
            {% set PromedioE = 0 %}
            {% set PromedioS = 0 %}
    			</tbody>
    		</table>
    	</div>
    {% else %}
      <h3>Error al cargar las tablas</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
